<html>
    <head>
        <title>Student Registry</title>
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
            <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui fixed inverted  menu">
            <div class="ui container">
                <div class="header Item"><i class="Alarm Outline icon ">StudentReg</i></div>
            </div>
            <a href="/" class="item">Home</a>
            <a href="/students/new" class="item">Add new student</a>

        </div>

    